body {
    font-weight: 400;
    min-height: 100vh;
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
}

.profileImg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/* MY PETS PAGE (pets.index) / OVERVIEW PAGE (pets.show) */
.myPetsHeader{
    font-size: 36px;
    text-align: center;
    margin: 5%;
}

.addPetButton{
    background-color: #107cdd;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 10%;
}

.addPetButton:hover{
    color: black;
    background-color: #50a5f2;
} 

.petsList{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    padding: 40px;
}

.petItem, .myItem{
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.petItem > h2, .myItem > h2{
    font-size: 24px;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
/* .petItem > figure > img{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */
  
.petItem > p, .myItem > p{
    padding: 22px;
  }

.petItem:hover{
    transform: translateY(-10px);
    transition: 0.2s all;
    box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media screen and (min-width: 1000px){
    .myPetsHeader{
        margin: 1% 0%;
    }
    .addPetButton{
        float: right;
        width: 20%;
        margin-right: 41px;
    }
    .petsList{
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
    }
    .listOverview{
        margin-top: 0%;
    }
}

@media screen and (min-width: 1200px){
    .petsList{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* OVERVIEW PAGE (pets.show) */
.filterForm {
    background: #fff;
    max-width: 40em;
    margin-left: 40px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.025);
}

.filterForm input[type=checkbox]{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0.1rem solid #2e2e2e;
    /* width: 100%; */
    /* padding: 1rem; */
    /* border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem; */
    /* resize: vertical; */
}

.filterButton{
    padding: 5px 100px;
    
}

/* ADD PET PAGE (pets.create) */
.addPetHeader{
    font-size: 32px;
    margin: 1% 5%;
}

.formAddPet{
    border-radius: 5px;
    padding: 5px;
    margin: 2% 5%;
    border: 1px solid #d2d2d2;
    background-color: #f5f5f5;
    box-shadow: 0 0 3.5rem rgba(0,0,0,.2);
}

.labelAddPet{
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.formAddPet input[type=text], input[type=date], input[type=integer]{
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    font-size: 22px;
}

input[type=file]{
    width: 90%;
    margin: auto;
    font-size: 22px;
}

.buttonContainer{
    margin: 10%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90%;
}

.addButton{
    margin-right: auto;
    width: 35%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    /* background-color: see blade file because tailwind; */
}

.addButton:hover{
    color: black;
    background-color: #50a5f2;
} 

.prevButton{
    background-color: #0a508e;
    color: white;
    width: 30%;
    text-align: center;
    padding: 10px 16px;
}

.prevButton:hover{
    color: black;
    background-color: #50a5f2;
}

/* .prevButton{
    background-color: #0a508e;
    text-align: center;
    width: 30%;
    padding: 8px 16px;
}

.prevButton:hover {
    background-color: #ddd;
} */

@media screen and (min-width: 1000px){
    .addPetHeader{
        margin: 1% 15%;
    }
    .formAddPet{
        margin: 2% 15%;
    }
    .labelAddPet{
        margin-left: 35px;
    }
    .buttonContainer{
        margin-top: 5%;
    }
}

@media screen and (min-width: 1200px){
    .labelAddPet{
        margin-left: 50px;
    }
    .buttonContainer{
        margin-bottom: 5%;
    }
}

/* INFORMATION PAGE */
.informationContainer{
    width: 80%;
    padding: 20px;
    margin: auto;
}

.informationP{
    margin-bottom: 10px;
    font-size: 22px;
}

.petImage{
    margin-top: 20px;
    margin-bottom: 10px;
}

.informationButtonsCnt{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.informationButton{
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.toMessageButton{
    background-color: blue;
    margin-top: 10px;
}

.reactionButton{
    margin-top: 40px;
}

@media screen and (min-width: 600px){
    .informationButton{
        width: 60%;
    }
}

@media screen and (min-width: 1000px){
    .informationContainer{
        width: 45%;
    }
    .informationButtonsCnt{
        margin-bottom: 30px;
    }
    .informationButton{
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (min-width: 1300px){
    .informationButton{
        width: 30%;
        margin-left: 35%;
    }
}

  
/* ADMIN PAGE */
.searchbarWrapper{
    text-align: center;
}
  
.searchbar{
    margin-top: 20px;
    width: 60vw;
}

.searchbarButton{
    margin-left: 20px;
}

.usersHeader{
    text-align: center;
    font-size: 24px;
    margin: 40px 0px;
}

.userItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    row-gap: 10px;
    place-items: center;
}

.userItemSplit{
    margin: 0px auto 30px auto;
    width: 90%;
    border: 1px solid #ccc;
}

.userButton{
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.userBlockButton:hover{
    background-color: #691111;
}

.userUnblockButton:hover{
    background-color: #58E98E;
    color: black;
}

.userNotFound{
    text-align: center;
    color: #FB000A;
}

@media screen and (min-width: 800px){
    .searchbar{
        width: 40vw;
    }
}

@media screen and (min-width: 1000px){
    .userItem{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 50px;
    }
    .userItemName{
        grid-column-start: 2;
    }
}